.main_image {
    margin-top: 30px;
    text-align: center;
}

.main_image img {
    text-align: center;
    max-width: 160px;
    width: 20vw;
}

.landing_page_title {
    padding-top: 24px;
    font-size: 54pt;
    font-family: 'SeoulNamsan ExtraBold', sans-serif;
    font-weight: 700;
    line-height: 1em;
    background: -webkit-linear-gradient(0deg, var(--main_title_left_color), var(--main_title_right_color));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.landing_page_subtitle {
    font-size: 20pt;
    font-family: 'SeoulNamsan Light', sans-serif;
    line-height: 3em;
}

.landing_page_title_box {
    margin-bottom: 20px;
    text-align: center;
}

.landing_page_getting_started_button {
    margin-top: 20px;
}

.tech_icon_box {
    margin-top: 60px;
}