/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */
@import url('https://webfontworld.github.io/PyeongChang/PyeongChangPeace.css');

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: #000000;
  color: #ffffff;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

h1.hero__title {
  font-family: 'PyeongChangPeace';
  font-size: 60pt;
}

.hero__subtitle {
  font-size: 1.5rem;
}

@media screen and (max-width: 420px)  {
    h1.hero__title {
      font-family: 'PyeongChangPeace';
      font-size: 30pt;
    }
    .hero__subtitle {
      font-size: 1.2rem;
    }
}

@media screen and (max-width: 320px)  {
  h1.hero__title {
    font-family: 'PyeongChangPeace';
    font-size: 24pt;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
